* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    // overflow: hidden;
    // background-color: greenyellow;
}

header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 8vh;
    background-color: #bcbeb4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: grey 0 5px 10px;
    z-index: 100;

    .userId {
        color: white;
    }

    .menu {
        height: 6.4vh;
        width: 6.4vh;
        // background-col;
    }
}

.content-container {
    flex: 1;
    display: flex;
    align-items: stretch;
    overflow: hidden;
    margin: 8vh 0;

    .users-list {
        float: left;
        // height: 100%;
        width: 15vw;
        background-color: #cfd1c9;
        overflow: auto;
    }

    .chat-area {
        // display: flex;
        // flex-direction: column;
        flex: 1;
        // padding: 5px;  
        width: 85vw;
        overflow: auto;
        margin: 2vh 2vw;

        .msg-box {
            min-height: 5rem;
            width: 60%;
            border: solid 1px;
            margin: 7px;
            display: flex;
            flex-direction: column;
            padding: 10px;

            .info {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                border-bottom: solid 1px grey;
                width: 80%;
                background-color: white;

                .logo {
                    height: 4vh;
                    width: 4vh;
                    background-color: white;
                    border-radius: 50%;
                    border: solid .5vh;
                    box-shadow: grey 5px 5px 10px;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    font-size: 1rem;
                    margin: 5px;
                    margin-right: 15px;
                }
            }
        }
    }
}

.ur {
    float: right;
    border-bottom-left-radius: 40px;

    .msg {
        margin-left: 10px;
    }
}

.other {
    float: left;
    border-bottom-right-radius: 40px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8vh;
    background-color: #bcbeb4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: grey 0 -5px 10px;
    padding: 5px 15px;

    #ur-msg {
        height: 80%;
        flex: 1;
        margin: 0 15px;
        border-radius: 40px;
        padding: 5px 15px;
        resize: none;
        font-size: 1rem;
        scrollbar-width: none;
        box-shadow: grey 5px 5px 10px;
    }

    .send {
        height: 80%;
        width: 9vh;
        background-color: white;
        border-radius: 40px;
        box-shadow: grey 5px 5px 10px;
    }
}

.logo {
    height: 6.4vh;
    width: 6.4vh;
    background-color: white;
    border-radius: 50%;
    border: solid .8vh;
    box-shadow: grey 5px 5px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.bg-green {
    background-color: #97CC04;
}

.bg-green-light {
    background-color: #B2DB40;
}

.border-green {
    border-color: #82af06;
}

@media only screen and (max-width: 600px) {
    footer {
        height: 60px;
        padding: 5px 10px;

        .logo {
            display: none;
        }

        .send {
            width: 60px;
        }
    }

    header {
        height: 60px;

        .logo {
            height: 48px;
            width: 48px;
        }
    }

    .content-container {
        margin: 60px 0;

        .chat-area {
            .msg-box {
                width: 85%;
            }
        }
    }
}